body {
    background: whitesmoke;
}

.logo {
    text-align: center;
    position: relative;
}

.main {
    width: 420px;
    height: 306px;
    border: 3px solid white;
    padding: 15px;
    border-radius: 10%;
}
.indexFont h1{
    padding: 15px;
    font-weight: bold;
    color: white;
    font-family: 幼圆;
}
.positionAuto {
    position: absolute;
    left: 50%;
    top: 50%;
    webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
bt:hover{
    bottom: -10px;
}